<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <title>Neo</title>

  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <link rel="stylesheet" href="static/style.css">

</head>

<body>
  <div class="layout">
    <div class="sidebar">
      <h2>Neo</h2>

      <button class="new-chat-btn" onclick="newChat()">
        + Novo Chat
      </button>

      <div class="sidebar-section-title">
        Conversas
      </div>

      <div id="conversation-list"></div>
    </div>

    <div class="main">
      <div class="chat-header">
        <div>
          <div class="sidebar-brand">
            <div class="neo-orb"></div>

            <div>
              <h2>Neo</h2>
              <span>Local AI Core</span>
            </div>
          </div>
          <span>gemma3:12b • Local • Ollama</span>
        </div>

        <div style="display:flex; gap:10px; align-items:center;">

          <button id="deep-mode-btn" class="deep-mode-btn" onclick="toggleDeepMode()">
            Deep Mode
          </button>

          <div class="status-pill">
            Online
          </div>

        </div>
      </div>

      <div id="chat">

        <div class="empty-state" id="empty-state">

          <div class="empty-logo"></div>

          <h2>Neo Local AI</h2>

          <p>
            Seu assistente pessoal com memória vetorial,
            voz e IA local.
          </p>

        </div>

      </div>

      <div class="search-box">
        <input id="conversation-search" type="text" placeholder="Buscar conversas..." oninput="searchConversations()" />
      </div>

      <div class="input-container">
        <textarea id="message" placeholder="Manda a boa..."></textarea>

        <div class="input-actions">
          <button class="voice-btn" onclick="startRecognition()" title="Falar">
            <svg viewBox="0 0 24 24" class="icon">
              <path d="M12 14a3 3 0 0 0 3-3V5a3 3 0 0 0-6 0v6a3 3 0 0 0 3 3Z" />
              <path d="M19 11a7 7 0 0 1-14 0" />
              <path d="M12 18v4" />
              <path d="M8 22h8" />
            </svg>
          </button>

          <div class="input-divider"></div>

          

          <button class="send-btn" onclick="sendMessage()" title="Enviar">
            <span class="send-icon">
              <svg viewBox="0 0 24 24" class="icon send-svg">
                <path d="M22 2 11 13" />
                <path d="M22 2 15 22 11 13 2 9 22 2Z" />
              </svg>
            </span>

            <span class="generating-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/script.js"></script>

</body>

</html>